/*****************************
  SET DEFAULT DIMENSIONS HERE
 *****************************/
/* change the ID & dimensions to match your slider */
#slider {
	width: 210px;
	height: 550px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: auto;
	overflow-x: hidden;
}
#slider1, #slider2{
	width: 740px;
	height: 230px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: auto;
	overflow-x: hidden;
}
#couponlist{
	width: 740px;
	height: 280px; margin:0; padding:0;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow:hidden;
}
/******************
  SET STYLING HERE
 ******************
 =================================
 Default state (no keyboard focus)
 ==================================*/
/* Overall Wrapper */
.anythingSlider-default {
	margin: 0 auto;
	/* 45px right & left padding for the arrows, 28px @ bottom for navigation */
}
/* slider window - top & bottom borders, default state */
.anythingSlider-default .anythingWindow {

}
/* Navigation buttons + start/stop button, default state */
.anythingSlider-default .anythingControls a {
	/* top shadow */
	background: #777 url(../images/default.png) center -288px repeat-x;
	color: #000;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
/* Make sure navigation text is visible */
.anythingSlider-default .anythingControls a span {
	visibility: visible;
}
/* Navigation current button, default state */
.anythingSlider-default .anythingControls a.cur {
	background: #888;
	color: #000;
}

/* start-stop button, stopped, default state */
.anythingSlider-default .anythingControls a.start-stop {
	background-color: #040;
	color: #ddd;
}
/* start-stop button, playing, default state */
.anythingSlider-default .anythingControls a.start-stop.playing {
	background-color: #800; display:none;
}

/* start-stop button, default hovered text color (when visible) */
/* hide nav/start-stop background image shadow on hover - makes the button appear to come forward */
.anythingSlider-default .anythingControls a.start-stop:hover,
.anythingSlider-default .anythingControls a.start-stop.hover,
.anythingSlider-default .anythingControls a.start-stop .anythingControls ul a:hover {
	background-image: none;
	color: #ddd;
}

/*
 =================================
 Active State (has keyboard focus)
 =================================
*/
/* slider window - top & bottom borders, active state */
.anythingSlider-default.activeSlider .anythingWindow {
	border-color: #7C9127;
}
/* Navigation buttons, active state */
.anythingSlider-default.activeSlider .anythingControls a {
	/* background image = top shadow */
	background-color: #7C9127;
}
/* Navigation current & hovered button, active state */
.anythingSlider-default.activeSlider .anythingControls a.cur,
.anythingSlider-default.activeSlider .anythingControls a:hover {
	/* background image removed */
	background: #7C9127;
}

/* start-stop button, stopped, active state */
.anythingSlider-default.activeSlider .anythingControls a.start-stop {
	background-color: #080;
	color: #fff; display:none;
}
/* start-stop button, playing, active state */
.anythingSlider-default.activeSlider .anythingControls a.start-stop.playing {
	background-color: #d00;
	color: #fff;
}
/* start-stop button, active slider hovered text color (when visible) */
.anythingSlider-default.activeSlider .start-stop:hover,
.anythingSlider-default.activeSlider .start-stop.hover {
	color: #fff;
}

/************************
  NAVIGATION POSITIONING
 ************************/
/* Navigation Arrows */
.anythingSlider-default .arrow {
	top: -44px; right: 0;
	position: absolute;
	display: block;
}

.anythingSlider-default .arrow a {
	display: block;
	width: 44px;
	height: 44px;
	text-align: center;
	outline: 0;
	background: url(../images/slider-arrow.png) no-repeat;
}

/* back arrow */
.anythingSlider-default .back { right: 48px; }
.anythingSlider-default .back a { background-position: 0px -44px; }
.anythingSlider-default .back a:hover,
.anythingSlider-default .back a.hover { background-position: -44px -44px; }
/* forward arrow */
.anythingSlider-default .forward { right: 0; }
.anythingSlider-default .forward a { background-position: 0px 0px; }
.anythingSlider-default .forward a:hover,
.anythingSlider-default .forward a.hover { background-position: -44px 0px; }

/* Navigation Links */
.anythingSlider-default .anythingControls { 
height: 15px; /* limit height, needed for IE9 of all things */
	outline: 0;
	display: none;
	float: right;
	position: absolute;
	bottom: 5px;
	right: 20px;
	margin: 0 45px;
	z-index: 100;
	opacity: 0.90;
	filter: alpha(opacity=90);
}
.anythingSlider-default .anythingControls ul { margin: 0; padding: 0; float: left; }
.anythingSlider-default .anythingControls ul li {list-style: none;
	float: left;
	margin: 0;
	padding: 0;}
.anythingSlider-default .anythingControls ul a {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 3px;
	padding: 0;
	text-decoration: none;
	text-align: center;
	outline: 0;
}
.anythingSlider-default .anythingControls ul a span {
	display: block;
	visibility: hidden;
}

/* navigationSize window */
.anythingSlider-default .anythingControls .anythingNavWindow {
	overflow: hidden;
	float: left;
}

/* Autoplay Start/Stop button */
.anythingSlider-default .anythingControls .start-stop {
	padding: 2px 5px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	float: right;
	z-index: 100;
	outline: 0;
}

/***********************
  IE8 AND OLDER STYLING
 ***********************/

/* Navigation Arrows */
.as-oldie .anythingSlider-default .arrow {
	top: 30%;
}
.as-oldie .anythingSlider-default .arrow a {
	margin: 0;
}

/* margin between nav buttons just looks better */
.as-oldie .anythingSlider-default .anythingControls li {
	margin-left: 3px;
}

/* When using the navigationSize option, the side margins need to be zero
	None of the navigation panels look good in IE7 now =( */
.as-oldie .anythingSlider-default .anythingControls a {
	margin: 0;
}
.as-oldie .anythingSlider-default .anythingNavWindow {
	margin: 0 2px;
}
.as-oldie .anythingSlider-default .anythingNavWindow li {
	padding: 3px 0 0 0;
}

/***********************
  COMMON SLIDER STYLING
 ***********************/
/* Overall Wrapper */
.anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
}
/* anythingSlider viewport window */
.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%; float:left;
}
/* anythingSlider base (original element) */
.anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 3px 0 0 0;
	padding: 0;
}

/* Navigation arrow text; indent moved to span inside "a", for IE7;
  apparently, a negative text-indent on an "a" link moves the link as well as the text */
.anythingSlider .arrow span {
	display: block;
	visibility: hidden;
}
/* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
.anythingSlider .arrow.disabled {
	display: none;
}
/* all panels inside the slider; horizontal mode */
.anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
/* vertical mode */
.anythingSlider .vertical .panel {
	float: none;
}
/* fade mode */
.anythingSlider .fade .panel {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
/* fade mode active page - visible & on top */
.anythingSlider .fade .activePage {
	z-index: 1;
}

/***********************
  RTL STYLING
 ***********************/
/* slider autoplay right-to-left, reverse order of nav links to look better */
.anythingSlider.rtl .anythingWindow {
	direction: ltr;
	unicode-bidi: bidi-override;
}
.anythingSlider.rtl .anythingControls ul { float: left; } /* move nav link group to left */
.anythingSlider.rtl .anythingControls ul a { float: right; } /* reverse order of nav links */
.anythingSlider.rtl .start-stop { /* float: right; */ } /* move start/stop button - in case you want to switch sides */

/* probably not necessary, but added just in case */
.anythingSlider,
.anythingSlider .anythingWindow,
.anythingSlider .anythingControls ul a,
.anythingSlider .arrow a,
.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}
#slider li .items{ position:relative; float:left; width:100px; margin:10px 10px 0 0; display:inline;}
#slider li .items:nth-child(2n), #slider ul li .items:first-child + .items{ margin-right:0;}
#slider1 li {  padding: 30px 0 0 0;}
#slider1 li .itemspp{ position:relative; float:left; width:80px!important; margin:0 30px 0 0; display:inline; font-size: 11px; color: #999;}
#slider1 li .itemspp .thumb{ position: relative; float: left; width: 100%;}
#slider1 li .itemspp .infopeople{ position: relative; float: left; width: 100%;}
#slider1 li a { padding: 0 6px 0 0;}
#slider1 li .itemspp p{ padding: 5px 0 0 0;}
#slider1 li .itemspp:nth-child(7n),#slider1 li .itemspp:first-child + li + li + li + li + li + li{ margin: 0;}
.salepeople .anythingSlider-default .back{ left: 165px!important; }
.salepeople .anythingSlider-default .forward{ left: 215px!important;}
#slider2{ height: 280px;}
#slider2 li {  padding: 30px 0 0 0;}
#slider2 li .itemspp{ position:relative; float:left; width:150px!important; margin:0 40px 0 0; display:inline; color: #999;}
#slider2 li .itemspp .thumb{ position: relative; float: left; width: 100%;}
#slider2 li .itemspp .infopeople{ position: relative; float: left; width: 100%;}
#slider2 li font.number{ font-size: 16px; color: #ca4228;}
#slider2 li a { padding: 0 6px 0 0;}
#slider2 li .itemspp p{ padding: 5px 0 0 0;}
#slider2 li .itemspp:nth-child(4n),#slider1 li .itemspp:first-child + li + li + li{ margin: 0;}
.otherprd .anythingSlider-default .back{ left: 30%!important; }
.otherprd .anythingSlider-default .forward{ left: 38%!important;}

#slider li .peoplereview{ position:relative; float:left; width:100%; margin:10px 0 0 0;}
#slider li .peoplereview .name{ display: inline-block; width: 100%; vertical-align: middle;}
#slider li .peoplereview .name .avatar{ display: inline-block; width: 80px; height: 80px; vertical-align: middle; margin: 0 18px 0 0;}
#slider li .peoplereview .name .info{ display: inline-block; width: 80px; vertical-align: middle; font-size: 14px;}
.contentreview{ position: relative; float: left; width: 174px; padding: 18px; background-color: #EEE; line-height: 18px; margin: 20px 0 0 0;}
.contentreview p{ padding-top: 14px;}
.contentreview :after{
content:'';
position:absolute;
left:15px;
top:-30px;
z-index:0;
width: 0; height: 0; border: solid transparent; border-color: rgba(255, 255, 255, 0); border-bottom-color: #EEE; border-width: 15px;
}
#coupon-one{ position:relative; float:left; width:100%; margin:25px 0 0 0;}
#couponlist li .coupon-prd{ position: relative; float: left; width: 706px!important; height:246px!important; background-color: #FFF; border:17px #EEE solid;}
.couponid{ position:relative; float:left; color:#999; padding-bottom:5px;}
#couponlist li .thumb-cp{ position: relative; float: left; width: 300px; height: 225px; z-index: 99; padding: 10px;}
#couponlist li.thumb-cp img{ position: relative; float: left; width: 100%;}
#couponlist li .thumb-cp .discount{ right:0px; top: 2px;}
#couponlist li.couponinfo{ position: relative; float: left; width: 360px; margin: 15px 0 0 10px; display: inline; font-size: 14px; color: #999;}
#couponlist li .couponinfo a{ font-size: 14px; line-height: 20px; font-weight:300;}
#couponlist li .couponinfo .clock{ position:relative; float:left; width: 100%; padding-top: 0;}
#couponlist li .couponinfo .ticket{ position:relative; float:left; width: 100%; padding-top: 20px; font-size:14px; color:#999;}
#couponlist li .couponinfo .ticket font.number{ display:inline-block; font-size:24px; font-weight:300px; color:#383838; line-height:22px; vertical-align:middle;}
#couponlist li .couponinfo .ticket a{ display:inline-block; border-bottom:1px #4b89b5 dotted;vertical-align:middle;}
#couponlist li .couponinfo .wl{ position:absolute; right:0; bottom:0px; margin:0;}
#couponlist li .couponinfo .clock p{ line-height: 18px;}
#couponlist li .couponinfo .star{ position:absolute; top:4px; right:0;}
#couponlist li .bottom-cp{ position: absolute; width: 100%; height: 75px; bottom: 0px; background-color: #383838;}
#couponlist li .bottom-cp .price-cp{ position: relative; float: right; width: 360px;}
#couponlist li .bottom-cp .price-cp span{ float: left; width: 145px; font-size: 11px; color: #c9c9c9; padding-top: 12px;}
#couponlist li .bottom-cp .price-cp span .price1{ font-size: 30px; color: #FFF; line-height: 30px;}
#couponlist li .bottom-cp .price-cp span .price1 sub{ line-height: 18px;}
#couponlist li .bottom-cp .price-cp span .price2{ font-size: 22px; line-height: 25px;}
#couponlist li .bottom-cp .price-cp span.small{padding-top: 15px;}
#couponlist li .btnbuy{ right:5px;}
#coupon-one .anythingSlider-default .anythingControls{ background:#e85c41;padding:8px 8px; bottom:-2px; left:98px;opacity:1; margin:0; height:auto; right:auto;}
#coupon-one .anythingSlider-default .anythingControls:after{
content:'';
position:absolute;
bottom:0;
left:-8px;
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 8px 8px 0;
border-color: transparent #954332 transparent transparent;}
#coupon-one .anythingSlider-default .anythingControls ul a{width:15px; height:15px; background-color:#FFF; border-radius:8px; box-shadow:1px 4px 0px #be4b35;}
#coupon-one .anythingSlider-default .anythingControls ul a.cur{ background-color:#383838; box-shadow:0px 4px 0px #010101 inset;}

/*----------coupon-slide-bottom-----------*/
.couponslide-bottom #slider1{ height:320px;}
.couponslide-bottom .anythingSlider-default .back{ left: 165px!important; }
.couponslide-bottom .anythingSlider-default .forward{ left: 215px!important;}
#slider1 li .itemcoupon{ position: relative; float: left; width:340px!important; height: 120px!important; border:10px #EEE solid; background-color: #FFF; margin:0px 20px 0 0; display: inline;}
#slider1 li .itemcoupon .thumb{ position: relative; float: left; width: 140px; margin: 10px 14px 0 10px; display: inline;}
#slider1 li .itemcoupon .thumb .discount{ right: 0;}
#slider1 li .itemcoupon .discountinfo{ position: relative; float: left; width: 175px; margin: 10px 0 0 0;}
#slider1 li .itemcoupon .discountinfo .rows{ position: relative; width: 100%; padding: 5px 0 0 0; display: inline-block;}
#slider1 li .itemcoupon .discountinfo .rows font{ display: inline-block; vertical-align: middle;}
#slider1 li .itemcoupon .discountinfo .rows font.old{ font-size: 11px; color: #999; text-decoration: line-through;}
#slider1 li .itemcoupon .discountinfo .rows font.number{ font-size:20px; color: #ca4228;}
#slider1 li .itemcoupon .discountinfo .rows label{ float: left; color: #999; padding-left: 15px;}
#slider1 li .itemcoupon .discountinfo .rows .i-clock{ position: absolute; width: 16px; height: 16px; background-position: 0px -252px; left: -4px; top: 6px;}
#slider1 li .itemcoupon .discountinfo .rows .countdowntext{ float: right; font-size: 14px; letter-spacing: -1px; padding-right: 10px;}
#slider1 li .itemcoupon:nth-child(2n){ margin-right:0px;}
/*----------slide-var-------*/
#slideimage{width: 740px; height: 300px; margin:0; padding:0; list-style: none; overflow:hidden;}
#slide-var .anythingSlider-default .anythingControls{ background:#e85c41;padding:8px 8px; bottom:-7px; left:42%; opacity:1; margin:0; height:auto; right:auto;}
#slide-var .anythingSlider-default .anythingControls:after{
content:'';
position:absolute;
bottom:0;
left:-8px;
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 8px 8px 0;
border-color: transparent #954332 transparent transparent;}
#slide-var .anythingSlider-default .anythingControls ul a{width:15px; height:15px; background-color:#FFF; border-radius:8px; box-shadow:1px 4px 0px #be4b35;}
#slide-var .anythingSlider-default .anythingControls ul a.cur{ background-color:#383838; box-shadow:0px 4px 0px #010101 inset;}
#bestproduct{width: 980px; height: 260px; list-style: none; overflow-y: auto; overflow-x: hidden;}
#bestprice .anythingSlider-default .back{ left: 40%!important; top:-60px;}
#bestprice .anythingSlider-default .forward{ left: 45%!important; top:-60px;}
#bestproduct li{ background-color:#EEE; padding:30px 0px;}
#bestproduct li .clumn-best{ position:relative; float:left; width:180px!important; height:200px!important; margin-left:13px; display:inline; background-color:#383838;}
#bestproduct li .clumn-best .thumb{ position:relative; float:left; width:100%;}
#bestproduct li .clumn-best .discount{ z-index:999999;}
#bestproduct li .clumn-best .name{ position:relative; float:left; padding:5px; font-size:14px; color:#FFF; text-align:center;}
#partner .title{font-size: 30px; font-weight: 300;}
#partner #slider1{ width: 980px; height: 182px;}
#partner #slider1 li{ padding:0;}
#slider1 li .itempartner{ position: relative; float: left; width:100px!important; height: 155px!important; padding:15px; background-color: #FFF; text-align:center; margin:20px 10px 0 0; display:inline;}
#slider1 li .itempartner p{ padding-top:5px;}
#slider1 li .itempartner:hover{ background:#383838;}
#slider1 li .itempartner:hover a{ color:#FFF; text-decoration:none;} 
#partner .anythingSlider-default .back{ left: 165px!important; }
#partner .anythingSlider-default .forward{ left: 215px!important;}

#bestprice-cpn #bestproduct{width: 740px;}
#bestprice-cpn #bestproduct li .clumn-best{ margin-left:4px;}
#bestprice-cpn .anythingSlider-default .back{ left: 50%!important; top:-60px;}
#bestprice-cpn .anythingSlider-default .forward{ left: 57%!important; top:-60px;}